body {
    background-color: whitesmoke;
    margin: auto;
    font-family: sans-serif;
    
}


.login-redirect {
    margin: auto;
    border: solid 1px lightgray;
    padding: 10px 10px 10px 10px;
    border-radius: .5em;
    width: 40%;
    height: 10em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-image: linear-gradient(to top, rgb(238, 235, 235), whitesmoke);

}

.login-detail {
    margin: auto; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
}

p.login-text {
   margin-bottom: 10px;
   text-align: center;
   color: darkgrey;
   font-weight: bold;
   
}

a.button-nav {
    color: whitesmoke;

}

a.button-redir, .button-main {
    margin: auto;
    border: solid 1px lightgray;
    border-radius: .25em;
    padding: 8px;
    text-shadow: lightgrey;
    background-color:#7398BF;
    color: whitesmoke;
    box-shadow: 0px 0px 1px gray;
    font-weight: bold;
    font-size: 16px;
    /* width: 50%; */
}

.button-main {
    font-size:14px;
}

div.button-main {
    padding: 5px;
}


a.button-redir:hover, div.button-main:hover {
    text-decoration: underline;
    background-color: rgb(146, 171, 199);
}

.search-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 40%;
    margin-left: 10px;
}

.search-form {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-around;
    align-content: space-between;
    border: solid 1px lightgray;
    padding: 5px;
    background-image:  linear-gradient(to top, rgb(238, 235, 235), rgb(255, 255, 255));
    opacity: 80%;
    border-radius: 0.25em;
}

.filter-menu {
    margin-right:10px;
}
.filter-menu select{
    font-size: 12px;
    text-align: center;
    border: none;
    width: 100%;
    background: lightgrey;
    margin-right: 10px;
    color: white;
    font-weight: bold;
    border-radius: .25em;
    padding: 5px;
  }

.filter-menu {
    margin-left: 10px;
}




.main-nav {
    width: 100%;
    background-color: #7398BF;
    margin-bottom: 2em;
    height: 4em;
    color: whitesmoke;
    border-radius: .25em;
    border-bottom: solid 1px lightgray;
    box-shadow: 1px 1px 3px lightgray;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.text {
    display: flex;
    justify-content: space-between;
}

.left-text {
    text-align: left;
    margin-left: 2rem;
    margin-top: 1rem;
    padding: 15px;
    font-weight: bold;
    font-size: 20px;
    /* text-shadow: 1px 1px 2px lightgrey; */
    
}

.right-text {
    text-align: right;
    margin-right: 4rem;
    margin-top: 1rem;
    padding: 15px;
    font-weight: bold;
    font-size: 20px;
    /* text-shadow: 1px 1px 2px lightgrey; */
    
}

.search-container {
    width: 40%;
    margin-left: 10px;
}
.search {

    padding: 5px;
    border-radius: .25em;
    border: solid 2px lightgrey;
    /* margin-bottom: 5px; */
    margin-right: 10px;
    text-indent: 2px;
    color: lightslategray;
}

.search:focus, 
.filter-menu select:focus {
    border-radius: .25em;
    outline: none;
    border: solid 2px slategrey;
}

option {
    font-weight: bold;
}

.search-bar {
    margin-left: 100px;
    text-align: center;
}



.track-list {
    /* background: lightblue; */
    padding-bottom: 0.5em;
    margin: auto;
    width: 50%;


}

.single-track {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: flex-start;
    border-radius: 0.25em;
    border: solid 5px lightgrey;
    padding: 0.5em;
    margin-bottom: 0.5em;
    align-content: space-between;

}

.details-left {
    margin-right: 1em;
}

.details-right {
    margin-left: 1em;
}




.track-info {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}
.name {
    display: flex;
    width: 15rem;
}
 .song {
    display: flex;
    font-weight: 900;
    
}

.release, .img {
    width: 15rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}


.link {
    color: grey;
    
}

.link:hover {
    color: #7398BF;
    text-decoration: none;
}

.link:active {
    text-decoration: none;
  }

